# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/keystore.properties
android/keystore/
android/*.jks
android/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml

# Misc
*.log
*.tmp
*.swp
.DS_Store

# Environment secrets
.env